

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}
a{
    text-decoration: none;
}